# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Output files
outputs/
Assets/news.jpg

# Runtime logs
logs/
*.log

# Temporary files
temp/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini